@using Microsoft.AspNetCore.Identity
@using Tirajii.Data.Models
@using Tirajii.Infrastructure.Extensions
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the worldwide truckers website!</h1>
    <hr />
    <br />
    <br />
    <h3><i>The most efficient way to truck!</i></h3>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="http://dslv9ilpbe7p1.cloudfront.net/1BViGYImRH1dFSvyjHKJYg_store_banner_image.jpeg" width="500" height="600" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-white">Easy, fast and quick!</h5>
                    <p class="text-white">100 000 products delivered everyday, thanks to our service!</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://assets.devx.work/images/external/blog/corporate_office_building/dfl_epitome.jpg" width="500" height="600" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-white">COMPANIES AHEAD!</h5>
                    <p class ="text-white">Up to 5000 companies use our services!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="http://sylvainbaumann.com/wp-content/uploads/2019/03/SylvainBaumann_CertificateTrustworthiness_TrueTrustUniversal-1-1024x734.jpeg" width="500" height="600" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-black">Many certificates earned!</h5>
                    <p class="text-black">Being trustworthy is of utmost importance to us!</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<hr />
<br />
@if (SignInManager.IsSignedIn(User))
{
    var user = UserManager.FindByIdAsync(User.Id());
    if (!user.Result.IsTrucker && !user.Result.IsTruckerCompanyOwner && !user.Result.IsOfferCompanyOwner)
    {
        <h4 class="text-center">What are you waiting for?</h4>
        <h4 class="text-center">Become a trucker or register your own company!</h4>
        <br />
        <br />
        <form method="get">
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-outline-primary" asp-area="" asp-action="Register" asp-controller="Trucker">Become a trucker!</button>
                <button type="submit" class="btn btn-outline-secondary" asp-area="" asp-action="Register" asp-controller="Company">Register your company!</button>
            </div>
        </form>
    }
    else if (user.Result.IsTrucker)
    {
        <h4 class="text-center">Get the latest offers...</h4>
        <h4 class="text-center">Or perhaps configure your truck?</h4>
        <br />
        <br />
        if (user.Result.HasWallet)
        {
            <form method="get">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-primary" asp-area="" asp-action="Offers" asp-controller="Trucker">Browse Offers</button>
                    <button type="submit" class="btn btn-outline-secondary" asp-area="" asp-action="General" asp-controller="Truck">Configure your truck</button>
                </div>
            </form>
        }
        else
        {
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Browse Offers
                </button>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Configure your truck
                </button>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Error!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            This action requires you to coonect a wallet.
                        </div>
                        <div class="modal-footer">
                            <form>
                                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" asp-action="ConnectWallet" asp-controller="User">Connect wallet</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
        
    }
    else
    {
        if (user.Result.IsTruckerCompanyOwner)
        {
            if (user.Result.HasWallet)
            {
                <form method="get">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-primary" asp-area="" asp-action="RegisterATruck" asp-controller="Company">Register a new truck</button>
                        <button type="submit" class="btn btn-outline-secondary" asp-area="" asp-action="GetMyTrucks" asp-controller="Company">Add a truck Offer</button>
                    </div>
                </form>
            }
            else
            {
                <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Register a new truck
                </button>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Add a truck Offer
                </button></div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Error!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                This action requires you to coonect a wallet.
                            </div>
                            <div class="modal-footer">
                                <form>
                                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" asp-action="ConnectWallet" asp-controller="User">Connect wallet</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            } 
        }
        else
        {
            if (user.Result.HasWallet)
            {
                <form method="get">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-primary" asp-area="" asp-action="OfferAdd" asp-controller="Company">Add an Offer</button>
                        <button type="submit" class="btn btn-outline-secondary" asp-area="" asp-action="OfferMine" asp-controller="Company">See what offers you provide</button>
                    </div>
                </form>
            }
            else
            {
                <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add an Offer
                </button>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        See what offers you provide
                </button>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Error!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                This action requires you to coonect a wallet.
                            </div>
                            <div class="modal-footer">
                                <form>
                                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" asp-action="ConnectWallet" asp-controller="User">Connect wallet</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}
else
{
    <form method="get">
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-primary" asp-action="Login" asp-controller="User">
             Become a trucker!
            </button>
            <button type="submit" class="btn btn-outline-secondary" asp-action="Login" asp-controller="User">
            Register your company!
            </button>
        </div>
    </form>
}


