@using Tirajii.Models.Truck
@model TruckUpgradeViewModel
<h1 class="text-center">Upgrades generated:</h1>
<hr />
<br />
<div class="accordion" id="accordionExample">
    @foreach (var item in Model.Upgraded)
    {
        if (item.Key == "ParkTronic" && item.Value)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        ParkTronic has been installed in your vehicle!
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Our engineers made it!</strong> Despite expierincing a number of difficulties, they managed to install the latest <i>parktronic</i> technology in your truck.
                    </div>
                </div>
            </div>
        }
        else if (item.Key == "Speakers" && item.Value)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Speakers have been installed in your vehicle!
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Now you can listen to music while you drive!</strong> Imagine not having theese bad boys, i would <i>suffocate myself to death</i>, honestly.
                    </div>
                </div>
            </div>
        }
        else if (item.Key == "Bluetooth" && item.Value)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Bluetooth has been installed in your vehicle!
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Now you can listen to <i>spotify</i>, talk to your colleagues <i><b>hands-free</b></i> or do some other nonsense without having to dedicate your attention!</strong> If I were you, i would be delighted given the fact that driving can get <i>extremely</i> boring at times. Lifesaver.
                    </div>
                </div>
            </div>
        }
        else if (item.Key == "CDPlayer" && item.Value)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        A CD player has been installed in your vehicle!
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>What is that? Oh sorry, I can't hear you as my <i>music</i> is booming!</strong> Have numerous cds of old music you would like to enjoy again? Fear not, the cd player is here to aid you!
                    </div>
                </div>
            </div>
        }
        else if (item.Key == "Brakes" && item.Value)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        Special brakes have been installed on your vehicle!
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Experiencing goose-bumps everytime while driving in a suburban area?</strong> We'e got you covered, our brakes are able to stop almost instantly so you won't have to worry about animals or wanderers jumping in front of your truck!
                    </div>
                </div>
            </div>
        }
    }
</div>
<br />
<br />
<center class="align-baseline">
    <h2>Overall price: @Model.Cost <img src="~/pictures/coin.png" width="50" height="50"/></h2>
    <br />
    <div class="d-grid gap-2">
        <form method="post">
            <button type="submit" class="btn btn-primary" asp-area="" asp-action="Upgrade" asp-controller="Truck">Pay and upgrade</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Retry
            </button>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Unhappy with the results?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Alter upgrades?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" asp-area="" asp-action="PayRetry" asp-controller="Truck">Proceed 1500<img src="~/pictures/coin.png" width="30" height="30" /></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</center>