@using Tirajii.Data
@using Tirajii.Models.Trucker;
@model TruckerRegisterViewModel
<h1 class="text-center">@ViewBag.Title</h1>
<hr />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-3 col-lg-8 offset-xl-3 col-xl-6">
            <form method="post">
                <div class="mb-3">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control" placeholder="Ex: Goos Goosovich Goosov">
                    <span asp-validation-for="FullName" class="small text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" placeholder="Ex: business@gmail.com">
                    <span asp-validation-for="Email" class="small text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Ex: 088888888">
                    <span asp-validation-for="PhoneNumber" class="small text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="Picture"></label>
                    <input asp-for="Picture" class="form-control" placeholder="Your Url here...">
                    <span asp-validation-for="Picture" class="small text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="4" class="form-control" placeholder="Describe yourself!"></textarea>
                    <span asp-validation-for="Description" class="small text-danger"> </span>
                </div>
                <div class="form-group">
                    @if (ViewBag.Title != "Edit Profile")
                    {
                        <label asp-for="CategoryId">Your category:</label>
                        <select asp-for="CategoryId" class="form-select">
                            @foreach (var category in Model.TruckingCategories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    }             
                </div>
                <div class="d-grid d-md-block mt-3">
                    <button class="btn btn-primary mt-3" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}