@using Tirajii.Data
@using Tirajii.Models.Trucker;
@model TruckerRegisterViewModel
<h1 class="text-center">Register as a Trucker!</h1>
<hr />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-3 col-lg-8 offset-xl-3 col-xl-6">
            <h2 class="mt-1 text-center">@ViewBag.Title</h2>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="FullName"></label>
                    <input asp-for="FullName" class="form-control" placeholder="Ex: Goos Goosovich Goosov">
                    <span asp-validation-for="FullName" class="small text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="4" class="form-control" placeholder="Describe yourself!"></textarea>
                    <span asp-validation-for="Description" class="small text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email"></label>
                    <textarea asp-for="Email" class="form-control" placeholder="Ex: business@gmail.com"></textarea>
                    <span asp-validation-for="Email" class="small text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="ProfilePicture"></label>
                    <input asp-for="ProfilePicture" class="form-control" placeholder="Your URL here...">
                    <span asp-validation-for="ProfilePicture" class="small text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Ex: 0888888888">
                    <span asp-validation-for="PhoneNumber" class="small text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="BirthDate">Birth Date</label>
                    <input type="date" asp-for="BirthDate" class="form-control" placeholder="Ex: dd/mm/yyyy">
                    <span asp-validation-for="BirthDate" class="small text-danger"> </span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Your category:</label>
                    <select asp-for="CategoryId" class="form-select">
                        @foreach (var category in Model.TruckingCategories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
                <div class="d-grid d-md-block mt-3">
                    <button class="btn btn-primary mt-3" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}