@using Tirajii.Data
@using Tirajii.Models.Trucker;
@using Tirajii.Models.Company;
@model CompanyRegisterViewModel
<h1 class="text-center">@ViewBag.Title</h1>
<hr />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-3 col-lg-8 offset-xl-3 col-xl-6">
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Ex: LittleTruckers">
                    <span asp-validation-for="Name" class="small text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="Picture"></label>
                    <input asp-for="Picture" class="form-control" placeholder="Your URL here...">
                    <span asp-validation-for="Picture" class="small text-danger"> </span>
                </div>
                <div class="form-group">
                    @if (ViewBag.Title != "Edit Company Profile")
                    {
                        <label asp-for="CategoryId">Your category:</label>
                        <select asp-for="CategoryId" class="form-select">
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    }
                </div>
                <div class="d-grid d-md-block mt-3">
                    <button class="btn btn-primary mt-3" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
            <partial name="_ValidationScriptsPartial" />
}