@using Tirajii.Data.Models
@using Tirajii.Models.Trucker;
@using Tirajii.Models.Company;
@model IEnumerable<TruckOffer>
<h1 class="text-center">My Offers:</h1>
<hr />
<br />
<div class="text-center row">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@item.Truck.Picture" class="card-img-top" alt="Truck Picture">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                @if (!item.IsApproved)
                {
                    <h6 class="card-text">Is Approved: <img src="~/pictures/xmark-solid.svg" width="15" height="15" /> </h6>
                }
                else
                {
                    <h6 class="card-text">Is Approved: <img src="~/pictures/check-solid.svg" width="15" height="15" /></h6>
                }
                @if (!item.IsBought)
                {
                    <h6 class="card-subtitle mb-2 text-muted">Is Bought: <img src="~/pictures/xmark-solid.svg" width="15" height="15"/></h6>
                }
                else
                {
                    <h6 class="card-subtitle mb-2 text-muted">Is Bought: <img src="~/pictures/check-solid.svg" width="15" height="15" /></h6>
                }
                <p class="card-text">Description:</p>            
                <p class="card-text">@item.Description</p>            
            </div>
        </div>
    }
    <form method="get">
        <button type="submit" class="btn btn-outline-primary" asp-area="" asp-action="GetMyTrucks" asp-controller="Company">Add more Offers</button>
    </form>
</div>